.contact-wrapper {
  padding: 2rem 5rem;
  font-family: var(--ff-primary);
  flex-direction: column;
  max-width: 60vw;
  margin-inline: auto;
  margin-bottom: 25rem;
  display: flex;
}

.contact .section-title {
  font-family: var(--ff-primary);
  color: var(--clr-secondary);
  font-size: 2.4rem;
  font-weight: 500;
  display: inline;

}

.contact .mini-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
  /* justify-content: space-between; */
}

.contact .line {
  display: inline-block;
  width: 50%;
  height: 1px;
  /* background-color: red; */
  background-color: var(--clr-primary);
}

.contact h4 {
  color: var(--clr-highlights);
  font-family: var(--ff-secondary);
  font-size: 3.4rem;
  font-weight: 700;
  align-self: center;
  margin-bottom: 2rem;
}

.contact p {
  color: var(--clr-primary);
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  /* max-width: 70%; */
  /* max-width: calc(100% - 18vw - 20px); */
}

.contact span {
  color: var(--clr-secondary);
  font-weight: 500;
}



