.hero-wrapper {
  padding: 2rem 5rem;
  font-family: var(--ff-primary);
  flex-direction: column;
  max-width: 60vw;
  margin-inline: auto;
  margin-bottom: 30rem;
}

.hero .hello {
  font-family: var(--ff-secondary);
  color: var(--clr-highlights);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.hero .name {
  font-size: 7rem;
  font-weight: 700;
  color: var(--clr-secondary);
}

.hero .punch {
  font-family: var(--ff-secondary);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;

  color: transparent;
  -webkit-text-stroke: 1px var(--clr-highlights);
  position: relative;
}

.hero .punch::before {
  content: "Eu crio sites inesquecíveis.";
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: var(--clr-highlights);
  border-right: 2px solid var(--clr-highlights);
  transition: all 1.2s ease-in-out;
  left: -10px;
}

.hero .punch:hover::before {
  left: 0;
  width: 100%;
  filter: drop-shadow(0 0 10px var(--clr-highlights));
}

.hero p span {
  color: var(--clr-secondary);
  font-weight: 600;
}

.hero p {
  color: var(--clr-primary);
  font-size: 1.8rem;
  line-height: 1.6;
  max-width: 70%;
}

.hero .promisse {
  /* max-width: 60%; */
}

.hero .btn-hero {
  width: fit-content;
  margin-top: 5rem;
  padding: 2rem 5rem;
  font-family: var(--ff-secondary);
  /* font-size: clamp(1rem, 5vw, 2rem); */
  font-size: 2rem;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 1px;
  user-select: none;
  color: var(--clr-highlights);
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-highlights);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero .btn-hero:hover {
  cursor: pointer;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 var(--clr-highlights); /* Same color as border */
}
