.footer {
  /* padding: 2rem 5rem; */
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  font-size: 1.2rem;
  max-width: 60vw;
  margin-inline: auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.footer a {
  text-decoration: none;
  color: var(--clr-secondary);
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: var(--clr-highlights);
}

.footer p {
  margin-bottom: 1rem;
}

