html {
  font-size: 62.5%;
  
}

body {
  background-color: var(--clr-bg);
  color: white;
  font-family: var(--ff-primary);
  
}

header img {
  width: 5rem;
}

.row {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/* transition original {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0px 0px var(--clr-highlights);
} */
